.weather-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column nowrap;
  height: 100%;

  h1 {
    margin-top: 16px;
    margin-bottom: 8px;
  }

  div {
    display: flex;
    justify-content: space-around;
    gap: 8px;
  }
}
