<div
  *ngIf="weatherLocationDetails$ | async as weatherData"
  class="main-container"
>
  <article>
    <div class="temp">
      <h4>Now</h4>
      <div>
        <h6>{{ weatherData.current.temp_c }}&deg;</h6>

        <img
          src="{{ weatherData.current.condition.icon }}"
          alt="weather condition"
        />
      </div>
    </div>
    <div class="wind">
      <h4>Wind</h4>

      <div>
        <p>
          {{ weatherData.current.wind_kph }}
        </p>
        <div>
          <img src="../../../../../assets/wind.png" alt="wind" /><span
            >km/h</span
          >
        </div>
      </div>
    </div>
    <div class="precip">{{ weatherData.current.precip_mm }}</div>
    <div class="snow1">{{ weatherData.current.condition.text }} Condition</div>
    <div class="vis">{{ weatherData.current.vis_miles }}</div>
    <div class="humid">{{ weatherData.current.vis_miles }}</div>
    <div class="chanceRain"></div>
    <div class="uv">{{ weatherData.current.uv }}</div>
    <div class="sunriseSunset"></div>
    <div class="gust">{{ weatherData.current.gust_mph }}</div>
  </article>
  <mat-icon class="close-modal" (click)="changeModal()">close</mat-icon>
</div>
