.main-container {
  article {
    display: grid;
    grid-template-columns: 0.5fr 1fr 1fr 1fr 1fr;
    grid-template-areas:
      "temp temp wind  precip precip "
      "temp temp snow1 vis humid"
      "chanceRain chanceRain  uv sunriseSunset sunriseSunset"
      "chanceRain chanceRain gust sunriseSunset sunriseSunset";
    grid-template-rows: repeat(4, auto);
    gap: 1rem;
    padding: 1rem;
    position: relative;
    align-items: center;
    width: 1000px;
    height: 70vh;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 1rem;

    > div {
      text-align: center;
      height: 100%;
      border-radius: 1rem;
      background: rgba(47, 46, 46, 0.27);
      box-shadow: 0 4px 30px rgb(114, 114, 114);
      backdrop-filter: blur(7px);
    }

    .temp {
      grid-area: temp;
      color: white;
      display: flex;
      flex-direction: column;
      justify-content: center;
      h4 {
        font-size: 2rem;
      }
      h6 {
        font-size: 8rem;
        font-weight: bold;
      }
      img {
        width: 100%;
      }
      div {
        display: flex;
        align-items: center;
        font-size: 8rem;
        margin-inline: 1rem;
        gap: 8px;
        font-weight: bold;
        margin-top: 1rem;
        text-align: center;
      }
    }

    .wind {
      grid-area: wind;

      h4 {
        margin-top: 1rem;
        font-size: 2rem;
        color: white;
      }

      div {
        display: flex;
        justify-content: center;

        p {
          font-size: 5rem;
          color: white;
          font-weight: bold;
          margin-top: 1rem;
          span {
            font-size: 1rem;
            font-weight: 400;
            display: block;
          }
        }
        div {
          display: flex;
          flex-flow: column nowrap;
          align-items: center;
          img {
            width: 100%;
            filter: brightness(0) invert(1);
          }
        }
      }
    }

    .precip {
      grid-area: precip;
    }

    .snow1 {
      grid-area: snow1;
    }

    .vis {
      grid-area: vis;
    }

    .humid {
      grid-area: humid;
    }

    .chanceRain {
      grid-area: chanceRain;
    }

    .uv {
      grid-area: uv;
    }

    .sunriseSunset {
      grid-area: sunriseSunset;
    }

    .gust {
      grid-area: gust;
    }
  }
  .close-modal {
    position: absolute;
    left: 50%;
    cursor: pointer;
    margin-top: 1rem;
  }
}
